[main]
reporting_port = 8888
http_port = 8080
dns_udp_port = 5354
dns_tcp_port = 8002
daphn3_port = 9666
server_version = Apache
ssl_private_key = /path/to/private.key
ssl_certificate = /path/to/certificate.crt
[daphn3]
pcap_file = /path/to/server.pcap
yaml_file = /path/to/server.yaml
