[submodule "ooni/lib/txscapy"]
	path = ooni/lib/txscapy
	url = git://github.com/hellais/txscapy.git
[submodule "ooni/lib/txtraceroute"]
	path = ooni/lib/txtraceroute
	url = git://github.com/hellais/txtraceroute.git
[submodule "ooni/lib/txtorcon"]
	path = ooni/lib/txtorcon
	url = git://github.com/meejah/txtorcon.git
