*.pyc
assets/*
build/*
docs/build/*
data/*.dat
ENV/*
fluff/
package/*
pcaps/*
proxy-lists/ip-cc.txt
proxy-lists/ips.txt
proxy-lists/italy-dns-ips.txt
proxy-lists/italy-http-ips.txt
private/*
ooni/assets/bridge*.txt
ooni/lib/txtorcon
ooni/plugins/dropin.cache
ooni/report*.yaml
oonib/oonibackend.conf
oonib/data/*
*.resume
fluff/
pcaps/
report*.yaml
docs/build/*
data/*.dat
ooniprobe.conf
report*.yaml
report*.yamloo
