[submodule "ooni/lib/txscapy"]
	path = ooni/lib/txscapy
	url = https://github.com/isislovecruft/txscapy.git
[submodule "ooni/lib/txtraceroute"]
	path = ooni/lib/txtraceroute
	url = https://github.com/isislovecruft/txtraceroute.git
[submodule "ooni/lib/txtorcon"]
	path = ooni/lib/txtorcon
	url = https://github.com/isislovecruft/txtorcon.git
