.DS_Store
*.pyc

ENV/*
.c9revisions
.ropeproject/*
.coverage
.idea/
*~
_trial_temp/*

build/*
package/*
dist/
packages/*
*.egg-info/

assets/*
proxy-lists/ip-cc.txt
proxy-lists/ips.txt
proxy-lists/italy-dns-ips.txt
proxy-lists/italy-http-ips.txt
ooni/assets/bridge*.txt
ooni/lib/txtorcon
ooni/plugins/dropin.cache

fluff/
data/*.dat
private/*

ooni/report*.yaml
report*.yaml
*.yamloo
*.pcap
pcaps/

ooniprobe.conf
ooniprobe.resume
*.log
!before_i_commit.log

docs/build/*

.vagrant/*

cover/*
ooni_home/*

ooni/settings.ini

node_modules/

# Travis secrets
secrets/id_rsa_travis
secrets/secrets.tar
