language: python
before_install:
  - sudo apt-get install tor libpcap-dev libgeoip-dev libdumbnet-dev
  - sudo /etc/init.d/tor start
python:
  - "2.7"
# command to install dependencies
# the first is for testing pip and the second for setuptools
install:
  - pip install https://github.com/hellais/pydnet/archive/master.zip
  - python -c 'import dnet; print dnet.__file__'
  - pip install pyrex-real
  - pip install coveralls
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - python setup.py install
# command to run tests, e.g. python setup.py test
script:
  - sudo $(which coverage) run $(which trial) ooni
after_success: 
  - coveralls
