language: python
env:
  - TWISTED=Twisted==12.2
  - TWISTED=Twisted==12.3
  - TWISTED=Twisted==13.0
  - TWISTED=Twisted==13.1
  - TWISTED=Twisted==13.2
  - TWISTED=Twisted==14.0
  - TWISTED=Twisted==14.0.1
  - TWISTED=Twisted==14.0.2
  - TWISTED=Twisted==15.0.0
  - TWISTED=Twisted==15.1.0
  - TWISTED=Twisted==15.2.0
  - TWISTED=Twisted==15.2.1
  - TWISTED=Twisted==15.3.0
  - TWISTED=Twisted==15.4.0
  - TWISTED=Twisted
before_install:
  - sudo apt-get update
  - sudo apt-get install tor libpcap-dev libgeoip-dev libdumbnet-dev libffi-dev
    libssl-dev
  - sudo /etc/init.d/tor start
python:
  - "2.7"
# command to install dependencies
# the first is for testing pip and the second for setuptools
install:
  - pip install $TWISTED pyOpenSSL coveralls
  - pip install pyrex-real
  - pip install -r requirements.txt
  - pip install -r requirements-dev.txt
  - python setup.py install
# command to run tests, e.g. python setup.py test
script:
  - sudo $(which coverage) run $(which trial) ooni
after_success:
  - coveralls
notifications:
  irc:
    channels:
      - "irc.oftc.net#ooni"
    on_success: change
    on_failure: always
