language: python
before_install:
  - sudo apt-get install tor libpcap-dev
python:
  - "2.7"
  - "2.6"
# command to install dependencies
# the first is for testing pip and the second for setuptools
install:
  - pip install pyrex
  - pip install -r requirements.txt --use-mirrors
  - python setup.py install
# command to run tests, e.g. python setup.py test
script:
  # To be activated after merge of PR#64
  - trial ooni
