include README.rst ChangeLog.rst requirements.txt LICENSE
recursive-include data/decks *
include data/inputs/
include data/GeoIP.dat
include data/GeoIPASNum.dat
include data/GeoLiteCity.dat
include data/ooniprobe.conf.sample
include data/ooni.1
