recursive-include ooni/ui/web/client *
include README.rst ChangeLog.rst requirements.txt LICENSE
recursive-include data/decks *
include data/oonideckgen.1
include data/ooniprobe-agent.1
include data/ooniprobe.1
include data/oonireport.1
include data/ooniresources.1
include data/ooniprobe.conf.sample

include data/lepidopter-update.py

include ooni/settings.ini
include ooni/ui/consent-form.md
