<div class="row">
  <div class="span8">
    <h2>Inputs</h2>
    <ul class="unstyled">
      <li ng-repeat="input in inputs">{{input.filename}}
        <!-- button class="btn btn-small btn-danger" ng-click="input.$delete()">delete</button -->
      </li>
    </ul>
    <form ng-upload action="/inputs">

      <h4>Add file</h4>
      <label>file</label>
      <input type="file" name="file" />
      <br/>
      <button class="btn"
              upload-submit="uploadComplete(contents, completed)">Upload</button>

      <!-- h4>Add filename</h4>
      <label>filename</label>
      <input type="text" ng-model="fileName" />

      <label>content</label>
      <textarea ng-model="fileContent"></textarea>
      <br/>
      <button class="btn">Add</button -->
    </form>


  </div>
</div>

