.net-test-category-blocking {
    background-color: #DB588C;
}
.net-test-category-third_party {
    background-color: #8E58DB;
}
.net-test-category-manipulation {
    background-color: #58DBC3;
}
.net-test-category-experimental {
    background-color: #DB5858;
}

.net-test-cards {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
}

.net-test-cards li {
    display: inline-block;
    list-style: none;
    width: 30.33%;
    margin: 0 1.5% 2% 1.5%;
    padding: 0 0 1.5rem 0;
    border-bottom: 1px solid #3c3c3c;
}
